.navbar {
  display: flex;
  background-color: #420420;
  justify-content: space-around;
  align-items: center;
  a {
    transition-duration: 0.5s;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    height: 100px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      transition-duration: 0.5s;
      background-color: #fff;
      color: #420420;
    }
  }
}
