<div class="flex mt-3" [ngClass]="(darkMode$ | async) ? 'dark' : ''">
  <div class="w-4/12 mr-3">
    <section class="mb-3 dark:bg-slate-900">
      <img class="p-3" src="https://sun9-61.userapi.com/impg/Vl2Jlml2VycHoP2MnK9K85yoCsAhDkVKVwrW7g/-zCTSlHl1E4.jpg?size=920x1300&quality=95&sign=3c4e50df9d107e26b92ac27c31b76a8a&type=album" alt="">
    </section>
    <section class="p-3 dark:bg-slate-900">
      <p class="dark:text-white mb-2">Друзья {{friends.length}}</p>
      <div class="flex justify-around flex-wrap">
        <div *ngFor="let friend of friendsHead" class="flex items-center flex-col">
          <img class="w-16 h-16 object-cover rounded-full" src="https://sun9-61.userapi.com/impg/Vl2Jlml2VycHoP2MnK9K85yoCsAhDkVKVwrW7g/-zCTSlHl1E4.jpg?size=920x1300&quality=95&sign=3c4e50df9d107e26b92ac27c31b76a8a&type=album" alt="">
          <p>{{friend.name}}</p>
        </div>
      </div>
    </section>
  </div>
  <div class="w-8/12">
    <section class="p-3 mb-3 dark:bg-slate-900">
      <h1 class="font-medium dark:text-white">Стас Павлов</h1>
      <p class="dark:text-white">we have everything besides freedom</p>
      <hr class="my-1">
      <div>
        <h1 class="dark:text-white">yo</h1>
      </div>
    </section>
    <section class="p-3 dark:bg-slate-900">
        <input class="mb-2 px-1 py-2 outline-none dark:bg-slate-900 dark:caret-white dark:text-white w-full" placeholder="Что нового?" [(ngModel)]="input" />
        <div class="flex justify-end" *ngIf="input.length">
          <button class="bg-blue-700 text-white dark:bg-white dark:text-black p-3 rounded-md" (click)="onPost()">Отправить</button>
        </div>
    </section>
    <section class="p-3 mt-3 dark:bg-slate-900" >
      <p class="dark:text-white">Мои записи</p>
      <p class="dark:text-white" *ngFor="let post of posts">{{post}}</p>
    </section>
  </div>
</div>
