<div class="flex mt-3">
  <div class="w-3/12 mr-3">
    <section class="mb-3">
      <img class="p-3" src="https://sun9-61.userapi.com/impg/Vl2Jlml2VycHoP2MnK9K85yoCsAhDkVKVwrW7g/-zCTSlHl1E4.jpg?size=920x1300&quality=95&sign=3c4e50df9d107e26b92ac27c31b76a8a&type=album" alt="">
    </section>
    <section class="p-3">
      <p>Друзья</p>
    </section>
  </div>
  <div class="w-9/12">
    <section class="p-3 mb-3">
      <h1 class="font-medium">Стас Павлов</h1>
      <p>we have everything besides freedom</p>
      <hr>
      <div>
        <h1>yo</h1>
      </div>
    </section>
    <section class="p-3">
      Мои записи
    </section>
  </div>
</div>
